rm -rf .direnv/aliases
export EDITOR=vi
export CONCOURSE_TARGET=asdk
export PIPELINE=pcfdemo
export DEPLOYMENT=pcfazurestack
export PIPE_ENV=asdk
ssh-add  ~/.ssh/id_openssh
# use minio-client
use azurestack-env
export CLUSTER_NAME=ocpcluster1
export AZURE_REGION=local
export SSH_KEY="ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCs8XlXTAzIBEVY9M6GtXNpVT01vcy2t0i4m2rvC0Qr7UgBywCngz9FsXljtia25IDEOxTkezVSsmNX4YxxppP00JWW+R//KmYp9zY7twIZJBOVUyVkTFNLscNRFM59O1BGOrWeR1qKOzSEQyhlCFnvUFGlXrIkumH+EBTwdK9QVqAwDwKhhfCmzYBzsQTwDcH2JgLya7z5Q0kw/DnmLDrnuBdber5wU0oPjFwX30YozDlIWwT/e2y5uQuKu8KpRacr6xu/CVPVNchjDrSV8reXXIBlswVCzgWuYm6tCVn/lwfMHRRpigG99asfELn69VD2VXeo8n37WGOO9fYU9s5PKmrwRHCwyQPQIPnioxghbvp794Cq8UvN73cEmAHg732bNtf0mB2lKAR9sL1iTY4aQFkiuRLT50g49uGK7hJGxDcXNSNN/YNlumD+OQC5AiCLp4bK0ogSRmdWqQXgMdUPG0GQRwxz309vkkWblyi7NTGA46RaCO0KxDrkCVPlPPk= karsten.bott@bottnet.de_macbook_air"
export BASE_DOMAIN=azsdps.labbuildr.com
export BASE_DOMAIN_RESOURCE_GROUP=dns
export KUBECONFIG=$PWD/assets/auth/kubeconfig
export INFRA_ID="$(cat ./assets/.openshift_install_state.json | jq '."*installconfig.ClusterID".InfraID' -r)"
export RESOURCE_GROUP=${INFRA_ID}-rg
az cloud update --profile 2019-03-01-hybrid
